body {
    color: #121111;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
}
.bkg {
    background-color: #121111;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
    height: 100%;
}

.box {
    width: 40%;
    justify-content: center;
    display: flex;
    box-shadow: 0 0 15px 7px whitesmoke;
}

.button-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
}

.btn {
    width: 50%;
    margin: 3%;
}

.header {position: relative;text-align: center;background: #121111;color: white; margin-top: 80px;}
h1 {font-family: 'cursive';font-variant: small-caps;font-weight: 400;letter-spacing: 1px;font-size: 48px;position: relative;}
