body{
    margin:0;
    background-color: #121111;
    height:100vh;
    margin:0;
    padding:0;
}
.flex {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 5vh;
    text-align: center;
    }
    .table {
        width: 120vh;
        box-shadow: 0 0 15px 7px black;
    }
    .line-table-main {
        color: white;
        border: 1px solid white;
    }
    .line-table-item {
        color: white;
        border: 1px solid white;
    }
    .table-title {
        color: white;
        border: 1px solid white;
        padding: 10px;
    }
